#home{
    .home-header{   
        overflow: hidden; 
         justify-content: space-between;
        width: 100%;
        // padding: 0 10px;
        box-sizing: border-box; 
        .home-header-left{   
            float: left;
            img{
               width: 24px; 
                display: inline-block;            
            }
            img:nth-of-type(2){
                width: 73px;
                height:17px;
            }
        }
        .home-header-right{
            
            width: 24px;
            display: flex;
              img{
                width: 100%;
                display: inline-block;
                height: 100%;
                margin-left: -57px;
              }
              span{
                color: #00806b;
                font-size: 24px;
                margin-left: 10px;
              }
        }
    }
   

}
