#home{
    .home-header{   
        overflow: hidden; 
         justify-content: space-between;
        width: 100%;
        // padding: 0 10px;
        box-sizing: border-box; 
        .home-header-left{   
            float: left;
            img{
               width: 1.5rem; 
                display: inline-block;            
            }
            img:nth-of-type(2){
                width: 4.5625rem;
                height:1.0625rem;
            }
        }
        .home-header-right{
            
            width: 1.5rem;
            display: flex;
              img{
                width: 100%;
                display: inline-block;
                height: 100%;
                margin-left: -3.5625rem;
              }
              span{
                color: #00c98d;
                font-weight: bold;
                font-size: 1.5rem;
                margin-left: .625rem;
              }
        }
    }
   

}
