.app-header{
    width: 100%;
    height: 2.75rem;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1.25rem;
    box-sizing: border-box;
    background: #fff;
    .title{
        width: 100%;
        line-height: 44px;
        text-align: center;
        font-size: 1rem;
    }
    .header-btn{
        height: 1.5rem;
        position: absolute;
        top: .3125rem;
        padding: .3125rem .625rem;
        line-height: 1.5rem;
        font-size: .875rem;
        box-sizing: border-box;
        &.header-left-btn{
            left:.625rem;
        }
        &.header-right-btn{
            right: .625rem;
        }
    }
}